stages:
  - build
  - publish

variables:
  NPM_REGISTRY: ${NPM_REGISTRY_URL}

build:
  stage: build
  image: node:22-alpine
  script:
    - npm ci
    - npx ng-packagr
  artifacts:
    paths:
      - dist/
    expire_in: 1 hour
  rules:
    - if: $CI_COMMIT_BRANCH

publish:
  stage: publish
  image: node:22-alpine
  dependencies:
    - build
  script:
    - cd dist/gigamenu
    - echo "//${NPM_REGISTRY#https://}/:_authToken=${NPM_TOKEN}" > .npmrc
    - npm publish --registry=${NPM_REGISTRY}
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/
